body {
    text-align: center;
    background-color: rgb(100, 201, 195);
    transition: all 0.1s;
}

h1, head h1, head h7, footer h1, footer h7 {
    color: #FFFFFF;
}

body h2, body p {
    color: rgb(100, 201, 195);
    text-align: center;
    padding: 10px;
}

textarea {
    border: 2px rgb(104, 109, 110) solid;
    height: 250px;
    width: 400px;
    border-radius: 5px;
    padding: 5px;
}

textarea#codeinput {
    background-color: black;
    /*color: greenyellow;*/
    color: rgb(100, 201, 195);
    font-family: "Lucida Console", "Courier New", monospace;
}

a {
    color: #FFFFFF;
}

.container {
    border: 5px rgb(104, 109, 110) solid;
    min-width: 80%;
    max-width: 96%;
    display: inline-block;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 0.35em 1.2em;
}

.centeringdiv {
    display: flex;
}

.centeringdiv div {
    flex: 1;
}

.inputdiv {
    flex: 1;
}

.button1{
    display:inline-block;
    padding: 0.35em 1.2em;
    border-radius: 5px;
    border: 2px rgb(104, 109, 110) solid;
    color: #FFFFFF;
    background-color: rgb(100, 201, 195);
    width: 120px;
    height: 50px;
    transition: all 0.2s;
}

.button1:hover{
    color: rgb(100, 201, 195);
    background-color: rgb(104, 109, 110);
    border: 2px rgb(100, 201, 195) solid;
}


.instructionsdiv {
    text-align: left;
    display: inline-block;
    border: 2px #FFFFFF solid;
    border-radius: 5px;
    padding: 0.35em 1.2em;
}

.instructionsdiv li {
    color: #FFFFFF;
}
